# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/reference/
reference/
reference/*
# Node build artifacts and directories
node_modules/
*.tsbuildinfo

# Ignore all node_modules in subdirectories
**/node_modules/

# Coverage output
coverage/
**/coverage/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
**/.env
**/.env.*
.env
.env.*

# Build directories
**/dist/
dist/
**/build/
build/

# Cache and temporary directories
.cache/
.parcel-cache/
**/.cache/
**/.parcel-cache/

# IDE and OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Output of 'npm pack'
*.tgz

# Yarn files
.yarn-integrity
.yarn-error.log

# Optional eslint cache
.eslintcache

# Ignore package lock files, if applicable (depends on your workflow)
package-lock.json
yarn.lock
pnpm-lock.yaml